@inject IJSRuntime JSRuntime

<label for="v1-pwd-service">@Label</label> <small class="@(showCopyText ? "visible-copy-rowpd" : "hidden-copy-ropwd")">Copied</small>
<input value="@Password" @onclick="CopyToClipboard" type="@(show ? "text" : "password")" disabled="@(string.IsNullOrEmpty(Password))" class="readonly-pwd form-control" id="v1-pwd-service" readonly>
<button @onclick="ToggleShowPwd" class="ml-auto img-icon btn btn-link" style="position: absolute; top: 33px; right: 25px;">
    <img src="images/eye.png" alt="trash">
</button>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public string Password { get; set; }

    private bool show = false;
    private bool showCopyText = false;

    private void ToggleShowPwd() {
        if (string.IsNullOrEmpty(Password)) return;
        show = !show;
        StateHasChanged();
    }

    private async Task CopyToClipboard() {
        if (string.IsNullOrEmpty(Password)) return;
        showCopyText = true;

        try {
            await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", Password);
        } catch { }

        await Task.Delay(1000);
        showCopyText = false;
    }
}
